@import "@egjs/flicking-plugins/dist/flicking-plugins.css";

:root {
    --black: #0a0a0a;
    --black-2: #111111;
    --white: #c5c5c5;
    --gray: #2F3336;
    --gray-2: #808080;
    --light-gray: #E5E5E5;
    --blue-verify: #2c8ddd;
    --blue: #0ecfe9;
}