@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
    --black: #0a0a0a;
    --black-2: #111111;
    --white: #f1f1f1;
    --gray: #2F3336;
    --gray-2: #808080;
    --light-gray: #E5E5E5;
    --blue-verify: #2c8ddd;
    --blue: #8EBBFF;
}

.mainOpenPost{
    
}
