@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
    --black: #0a0a0a;
    --black-2: #111111;
    --white: #f1f1f1;
    --gray: #2F3336;
    --gray-2: #808080;
    --light-gray: #E5E5E5;
    --blue-verify: #2c8ddd;
    --blue: #8EBBFF;
}

.mainLoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    padding: 3rem 0;
    gap: 1.5rem;

    color: var(--white);
    font-family: 'Rubik', sans-serif;
    background-color: var(--black);
}

.divCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 4rem 0;
    width: 450px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);

}

.divHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.divHeader img {
    width: 40px;
    height: 40px;
}

.divHeader h1 {
    margin: 0;
}

.formInputLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.divButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.buttons {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid var(--light-gray);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: var(--light-gray);
    background-color: var(--blue-verify);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    width: 100%;
    outline: none;
    padding: 0.5rem 0;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.buttons:disabled {
    pointer-events: none;
    background-color: var(--gray-2);
}

.buttons:hover {
    color: var(--blue-verify);
    background-color: var(--light-gray);
    border-color: var(--blue-verify);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.buttons:active {
    box-shadow: none;
    transform: translateY(0);
}

.aForgottenPassoword{
    color: var(--white);
    font-size: 14px;
}

.divDivision {
    display: flex;
    width: 70%;
    border-bottom: solid 2px var(--gray-2);
}

.divGo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.buttonGo {
    width: 30%;
}

@media screen and (max-width: 500px) {
    .divCard {
        width: 100%;
    }
}

@media screen and (max-width: 330px) {
    .divListRequestsPassword {
        flex-direction: column;
    }
}