:root {
    --black: #010101;
    --white: #fefefe;
    --gray: #2F3336;
    --light-gray: #E5E5E5;
}

.mainExplorePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin-left: 15%;
    padding: 3rem 0;
    background-color: var(--black);

    color: var(--white);
}

@media screen and (max-width: 1500px) {
    .mainExplorePage {
        margin-left: 120px;
    }

}

@media screen and (max-width: 770px) {

    .mainExplorePage {
        margin: 80px 0 0 0;
    }
}