@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
    --black-50p: #010101de;
    --black: #010101;
    --white: #fefefe;
    --gray: #2F3336;
    --light-gray: #E5E5E5;
}

.asideSidebar {
    padding: 2rem 0;
    background-color: var(--black);
    width: 15%;
    height: 100vh;
    position: fixed;
    border-right: solid 2px var(--gray);
}


.ulNavBar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: initial;

    width: 100%;
}

.liNavBar {
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    gap: 1rem;
    padding: 1rem 2rem;
    color: var(--white);
}

.spanIconNav {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    display: flex;
    gap: 1rem;
    transition: background-color 0.5s;
}

.spanIconNav:hover {
    background-color: var(--gray);
}

.spanPhoto {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10rem;
    transition: background-color 0.5s;
}

.spanPhoto:hover{
    background-color: var(--gray);
}

.imgNav {
    width: 3rem;
    border-radius: 3rem;
}

.iconsNav{
    font-size: 1.5rem;
}

.iconClose{
    font-size: 2.5rem;
}

.navBarMenu {
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    padding: 10px 20px;
    display: none;
    align-items: center;
    background-color: var(--black);
    font-family: 'Rubik', sans-serif;
    color: var(--white);
    border-bottom: solid 2px var(--gray);
    gap: 2rem;
    z-index: 1000;
}

.navBarShow{
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 4rem 0;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    font-family: 'Rubik', sans-serif;
    color: var(--white);
    border-bottom: solid 2px var(--gray);
    gap: 2rem;
    overflow-y: none;
    z-index: 1000;
}

.aMenu {
    display: flex;
    font-size: large;
    font-weight: 600;
}



@media screen and (max-width: 1500px) {

    a {
        display: none;
    }

    .spanIconNav {
        padding: 0.5rem;
        border-radius: 2rem;
    }

    .asideSidebar {
        width: 120px;
    }

    .liNavBar {
        justify-content: center;
        gap: 0;
    }

}

@media screen and (max-width: 770px) {

    .asideSidebar {
        display: none;
    }
    .navBarMenu {
        display: flex;
    }

    .navBarShow{
        display: flex;
    }

    a{
        display: flex;
    }

}