@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
    --black: #0a0a0a;
    --black-2: #111111;
    --white: #f1f1f1;
    --gray: #2F3336;
    --gray-2: #808080;
    --light-gray: #E5E5E5;
    --blue-verify: #2c8ddd;
    --blue: #0ecfe9;
}

.flexCenter{
    display: flex;
    align-items: center;
}

article{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--black-2);

    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--white);
}

.sectionProfilePost{
    width: 100%;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    color: var(--white);
}

.divProfileInformation{
    gap: 0.5rem;
}

.profileImgPost{
    width: 2rem;
    border-radius: 3rem;
}

.divUsernameTimePost{
    gap: 0.3rem;
}

.divUsername{
    gap: 0.2rem;
}

.iconVerify{
    color: var(--blue-verify);
}

.divTimePost{
    color: var(--gray-2);
    gap: 0.3rem;
}





.sectionDescription{
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 0.5rem;
}

.divIconsPost{
    display: flex;
    justify-content: space-between;
}

.divFirstIcons{
    gap: 1rem;
    justify-content: start;
}

.divSecondIcons{
    justify-content: end;
}

.iconsPost{
    font-size: 1.5rem;
}

.divDescriptionPost{
    color: var(--white);
    height: auto;
}

.spanUsernamePost{
    font-weight: bold;
}

.divCounts{
    gap: 0.5rem;
    color: var(--gray-2);
    margin: 0%;
}

p{
    margin: 0;
}

.divCommentInputPost{
    display: flex;
    justify-content: space-between;
}

.inputCommentPost{
    background-color: transparent;
    border: 0;
    width: 100%;
    font-size: 14px;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
}

input:focus{
    border: 0;
    outline: 0;
}

.buttonShareCommentPost{
    border: 0;
    background: none;
    font-size: 14px;
    color: var(--blue);
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 470px) {

    article{
        width: 100%;
    }

    .sectionDescription{
        width: 95%;
    }

    .sectionProfilePost{
        width: 95%;
    }

}