@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
    --black: #010101;
    --white: #fefefe;
    --gray: #2F3336;
    --gray-2: #808080;
    --light-gray: #E5E5E5;
    --blue-verify: #2c8ddd;
    --blue: #0ecfe9;
}

article{
    /* background-color: var(--gray);  */
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--white);
    border-bottom: solid 2px var(--gray);
}


section{
    width: 100%;
}

.sectionProfilePost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    color: var(--white);
}

.divProfileInformation{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.divProfileImg{
    display: flex;
    align-items: center;
}

.profileImgPost{
    width: 2rem;
    border-radius: 3rem;
}

.divUsernameTimePost{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.divUsername{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.iconVerify{
    color: var(--blue-verify);
}

.divTimePost{
    display: flex;
    align-items: center;
    color: var(--gray-2);
    gap: 0.3rem;
}

.divIconsPost{
    display: flex;
    justify-content: space-between;
}

.divFirstIcons{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
}

.divSecondIcons{
    display: flex;
    align-items: center;
    justify-content: end;
}

.iconsPost{
    font-size: 1.5rem;
    
}

.divLikeCounter{
    display: flex;
    align-items: end;
    gap: 10px;
}

.pCounter{
    display: flex;
    margin: 0;
    font-size: 18px;
}

.divDescriptionPost{
    color: var(--white);
    height: auto;
}

.spanUsernamePost{
    font-weight: bold;
}

.pCommentsCount{
    color: var(--gray-2);
}

.divCommentInputPost{
    display: flex;
    justify-content: space-between;
}

.inputCommentPost{
    background-color: var(--black);
    border: 0;
    width: 100%;
    font-size: 14px;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
}

.buttonShareCommentPost{
    border: 0;
    background: none;
    font-size: 14px;
    color: var(--blue);
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 470px) {

    article{
        width: 80%;
    }

}